[submodule "third_party/sqlitecpp"]
	path = third_party/sqlitecpp
	url = https://github.com/SRombauts/SQLiteCpp.git
[submodule "third_party/nlohmann_json"]
	path = third_party/nlohmann_json
	url = https://github.com/nlohmann/json.git
[submodule "third_party/boost"]
	path = third_party/boost
	url = https://github.com/boostorg/boost.git
[submodule "third_party/libsignal_protocol_c"]
	path = third_party/libsignal_protocol_c
	url = https://github.com/signalapp/libsignal-protocol-c.git
